<% i = 0 %>
<% @post.evaluations.each do |evaluation| %>
  <% i += evaluation.star_count %>
<% end %>
$('#star-box-<%= @post.id %>').html("<%= j(render partial: 'posts/not_evaluate', locals: {post: @post}) %>");
$('#star-count-<%= @post.id %>').html("<p>★<%= i %></p>");
