<h1>パスワードリセット</h1>

<p>以下のリンクからパスワードの変更を行ってください。</p>

<%= link_to "パスワードリセット", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>メール送信から2時間以上が経過するとパスワード変更が期限切れになりますのでご注意ください。</p>

<p>
パスワード変更をしないのであれば、このメールは無視して構いません。
</p>
