<% if post.favorites.where(user_id: current_user.id).exists? %>
<p class="reibun-delete"><%= link_to "登録済み", post_favorites_path(post.id), method: :delete, class: "delete-reibun", remote: true %></p>
<% else %>
<div class="reibun-box">
  <p>例文帳に登録</p>
  <div class="post-modal-wrapper">
    <div class="modal">
      <div class="close-modal">
        <i class="fa fa-times"></i>
      </div>
      <div class="reibun-form">
        <%= render 'shared/reibun_modal_form', post: post %>
      </div>
    </div>
  </div>
</div>
<% end %>
