<% provide(:title, "Index") %>
<main>
            <div class="main-visual">
            </div>
            <div class="about-container">
                <h2>面白英作文とは？</h2>
                <div class="explanation-box">
                    <p>
                    英語の勉強をしていると教科書には必ず文法、構文そして単語には例文がついてきます。<br>
                    しかし教科書の例文は非常に堅苦しくてつまらなくないですか？<br>
                    もっと面白くて覚えやすい例文があったらなぁ…<br>
                    そんな思いのもと作ったのがこの面白英作文です。<br>
                    この面白英作文ではその名の通り面白い例文を自分で作成してみんなで共有す るSNSサービスです。<br>
                    インパクトがあって印象に残る面白い例文をみんなで作って英語の文法、構文、単語を覚えましょう！<br>
                    </p>
                </div>
            </div>
            <div class="signup-login-box">
                <div class="new-user-btn">
                    <%= link_to "新規登録", signup_path %>
                </div>
                <p><%= link_to "ログインはコチラ！", login_path %></p>
            </div>

</main>
<footer>
            <div>
            </div>
</footer>
