<main>
  <div class="main-container">

    <!--レイアウト左側-->
    <div class="left-container">

      <!--お知らせ部分-->
      <h2>お知らせ</h2>

      <!--投稿コンテナ-->
      <% if @notifications.any? %>
        <div class="posts">
          <ol class="post-list jscroll">
            <%= render @notifications %>
            <%= paginate @notifications %>
          </ol>
        </div>
      <% else %>
        <p>まだお知らせはありません</p>
      <% end %>

    </div>

    <!--レイアウト右側-->
    <%= render 'shared/right_container' %>

  </div>


</main>
