/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/**/
/* 基本要素の指定 */
*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;

}


/* a要素の指定 */
a {
    text-decoration: none;
}

a img {
    border: none;
}

h1 a {
    color: white;
}


body {
    position: relative;
}


.container {
    margin: 0 auto;
    width: 100%;
		background-color: #FDDED3;
}

/* ヘッダー部分・ヘッダーロゴ */
header {
    width: 100%;
    height: 60px;
    background-color: #ED1C24;
    z-index: 10;
		float: left;
		position: relative;
}

.header-container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}


.header_logo h1{
    line-height: 60px;
		margin-left: 20px;
		img{
			height: 50px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
}



/* ヘッダー部分・ナビゲーション */
.header_nav {
    position: absolute;
    top: 0px;
    right: 0px;
}


.header_nav li {
    display: inline-block;/*block要素のように高さや縦方向のpadding、marginが指定できる上に、inline要素のように横並びができ、しかも高さが異なるボックスがあってもレイアウトが崩れない。*/
    font-size: 16px;
    margin: 10px 20px 10px 0;
		width:80px;
		height: 40px;
		background-color: #F4E921;
		border-radius: 5px;
		border: solid 2px;
}

.header_nav li a{
	color: black;
	line-height: 36px;
	font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
	font-weight: 600;
	display: block;
	text-align: center;
	font-size: 14px;
}


/*フッターの指定*/
footer {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 100px;
    background-color: #ED1C24;
}

/*新規登録・ログイン用*/
.full-screen {
    width: 100%;
    height: 100vh;
    background-color: #FDDED3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.form {
    width: 700px;
		h2 {
			text-align: center;
	    margin-bottom: 20px;
		}

		p {
			text-align: center;
	    position: relative;
	    top: 10px;
			font-size: 14px;
		}
}

.form a:hover {
  opacity: 0.7;
}

.form a:visited {
  color: blue;
}

.form-box {
    background-color: #FEBB15;
    width: 100%;
    padding: 40px 20px 10px 20px;
		box-shadow: 2px 2px 4px gray;
}


.form input {
    width: 100%;
    border: 1px solid #d8dadf;
    padding: 5px;
    color: #57575f;
    font-size: 16px;
    letter-spacing: 2px; /*文字間*/
    border-radius: 5px;
    margin-bottom: 35px;
		margin-top: 10px;
    background-color: white;
}

.form input[type="submit"] {
    background-color: #F4E921;
    cursor: pointer;
    font-weight: 300;
    width: 120px;
    border-radius: 2px;
		display: block;
    margin: 40px 0 0 auto;
    border: 0px solid #d8dadf;
    color: black;
    font-weight: 600;
}

.form input[type="submit"]:hover {
  opacity: 0.8;
}



/*フラッシュ*/
.alert {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  line-height: 40px;
  display: flow-root;
  position: absolute;
  top: 60px;
	right: 0;
	left: 0;
	z-index: 1;
	font-weight: 600;

}

.alert-success {
  background-color: #F2EEC2;
}

.alert-danger {
	background-color: #fff655;
	color: red;
}


/*L字型レイアウト用*/
.main-container {
	width: 1000px;
	margin: 0 auto;
	padding-top: 60px;
	display: flex;
	justify-content: space-between;
}

.left-container {
	width: 620px;
	margin: 0 20px;
}

.right-container {
	width: 300px;
	margin: 0 20px;
}

#sidebar {
	position: sticky;
	top: 70px;
}

#current-user-container {
	padding: 10px 0;
	a {
    color: black;
    font-size: 14px;
    font-weight: bold;
	}

	img {
		width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 6px #c1ced7;
    vertical-align: middle; /*画像を文字(ユーザ名)の高さ中心にもってくる！
    詳しくはhttps://html5experts.jp/takazudo/13592*/
    object-fit: cover; /*トリミング*/
		background-color: white;
	}

	p {
		text-align: right;
	}
}

#reibuntyou-link {
	margin: 10px 0 20px 0;
	display: flex;
	justify-content: center;
	a {
		width: 100%;
		height: 50px;
		background-color: #35CA52;
		line-height: 50px;
		padding: 0 125px;
	}
}

#star-ranking-table {
	border: solid 2px black;
	background-color: white;
}

#ranking-table-top {
	text-align: center;
	padding: 8px 0;
	background-color: #F4E921;
}

.ranking-table-main {
	padding: 10px;
	border-top: solid 1px #999999;
	a {
    color: black;
    font-size: 14px;
    font-weight: bold;
	}

	img {
		width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 2px 6px #c1ced7;
    vertical-align: middle; /*画像を文字(ユーザ名)の高さ中心にもってくる！
    詳しくはhttps://html5experts.jp/takazudo/13592*/
    object-fit: cover; /*トリミング*/
	}
}

.ranking-star-count {
	float: right;
	line-height: 30px;
}


/*投稿のレイアウト*/
.posts {
	ol {
		list-style-type: none;
	}
}

.post-category {
	font-weight: 600;
	margin-bottom: 20px;
	p {
		font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
		display: inline-block;
		padding: 5px 20px;
		background-color: #F7931E;
		border: 3px solid;
	}

	a {
		font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
		color: #999999;
		padding: 0 20px;
	}
}

.posts-container {
	border: solid 2px black;
	background-color: white;
	margin-bottom: 20px;
}

.posts-container-top {
	display: flex;
	justify-content: space-between;
	background-color: #F4E921;
	height: 50px;
	padding: 10px 15px;
	border-bottom: solid 2px black;
}

.posts-user-name {
  display: inline-block;
	a {
		font-size: 14px;
		font-weight: 600;
    color: black;
	}

	img {
		width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 2px 6px #c1ced7;
    vertical-align: middle; /*画像を文字(ユーザ名)の高さ中心にもってくる！
    詳しくはhttps://html5experts.jp/takazudo/13592*/
    object-fit: cover; /*トリミング*/
		background-color: white;
	}
}


.posts-keyword {
	display: flex;
	a {
		line-height: 26px;
		padding: 0 20px;
		background-color: #4B99EC;
		font-weight: 600;
		border-radius: 5px;
		border: 2px solid black;
		color: white;
	}
}

.posts-container-middle {
	font-weight: 600;
	text-align: center;
	padding: 20px 15px;
	img {
		max-width: 500px;
		margin-bottom: 10px;
	}

	p {
		font-size: 20px;
		text-align: start;
	}
}

.posts-information {
	font-size: 14px;
	padding: 0 15px 10px 15px;
}

.posts-time {
	text-align: right;
	font-size: 14px;
	padding: 0 15px;
	color: #999999;
}


.posts-container-bottom {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.star-box {
		display: flex;
		form {
			display: inline-block;
		}

		.star {
			width: 50px;
		}

		.star:hover {
			position: relative;
			top: -3px;
		}
	}



	.star-count {
		display: inline-block;
		p {
			font-weight: 600;
			background-color: #F4E921;
			border-radius: 5px;
			padding: 0 20px;
		}

	}

	.comment-box {
		display: flex;
		align-items: center;
		p {
			display: inline-block;
		}
		img {
			width: 20px;
			margin-right: 5px;
		}
	}
}


/*投稿モーダルのレイアウト*/
.post-option {
	margin-left: 20px;
	cursor : pointer;
	font-weight: 600;
	line-height: 30px;
}

.post-modal-wrapper {
	cursor: default;
	display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #fffbae;;
  padding: 20px 0;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
	border: solid 2px black;

	.modal-btn {
	}

	a {
		display: inline-block;
		width: 350px;
		line-height: 30px;
		border-radius: 5px;
		margin: 10px 0;
	}

	.delete, .mute {
		background-color: #ff3c3c;
	}
}

.fa {
  margin-right: 5px;
	font-weight: 900;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

/*無限スクロール用*/
ol.post-list {
  padding: 0;
}

nav.pagination {
  display: none;
	text-align: center;
}

.jscroll-added {
	.loading{/*ロード中に出る画像*/
		width: 300px;
		display: block;
		margin: auto;
	}
}
