/**/
/* 基本要素の指定 */
*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;

}

/*main要素の指定*/
main {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.main-visual {
    width: 100%;
    height: 100vh;
    background-image: image-url("main-visual.png");
    background-position: center;
		background-size: cover;
    position: relative;
}

.about-container {
    width: 1000px;
    margin: 150px auto;
    text-align: center;

		h2 {
			margin-bottom: 30px;
		}

		.banana {
			height: 45px;
			margin-left: -20px;
			margin-right: -10px;
		}

		#top-h2-explanation {
			height: 40px;
		}
}

.explanation-box {
    width: 800px;
    margin: 0 auto;
    padding: 30px 20px;
    text-align: start;
		background-color: #FEBB15;
		border-radius: 10px;
		display: flex;
		justify-content: space-between;
		p {
			font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
			line-height: 20px;
			margin: 50px 0;
			font-weight: 600;
		}
}

.explanation-box-left {
	width: 500px;
}

.explanation-box-right {
	width: 200px;
	img {
		width: 200px;
		padding-top: 30px;
	}
}

.signup-login-box {
    text-align: center;
		a:visited {
			color: blue;
		}
}

.new-user-btn {
    margin: 0 auto;
}

.new-user-btn img {
	height: 100px;
	margin-bottom: 10px;
}

.copy-right {
	color: white;
	text-align: center;
	line-height: 40px;
}


/*お知らせのレイアウト*/
#h2-center {
	text-align: center;
	margin-bottom: 15px;
}

.notifications-container {
	padding: 15px;
	border: solid 2px black;
	background-color: white;
	margin-bottom: 20px;
}

.notifications-container-top {
	.user-image img {
		width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 2px 6px #c1ced7;
    vertical-align: middle; /*画像を文字(ユーザ名)の高さ中心にもってくる！
    詳しくはhttps://html5experts.jp/takazudo/13592*/
    object-fit: cover; /*トリミング*/
	}
	p {
		padding: 10px 0;
	}
	a:visited {
		color: blue;
	}

	.star-count {
		width: 50px;
	}
}

.notified-type-evaluation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}

.notification-container-bottom {
	padding-top: 10px;
	.notification-comment {
		font-size: 18px;
		padding: 10px 0;
		font-weight: 600;
	}

	.notification-post {
		color: #999999;
		font-size: 20px;
		font-weight: 600;
		padding-top: 30px;
		padding-bottom: 20px;
	}

}

/*例文帳のレイアウト*/
.cp_ipselect {
	overflow: hidden;
	width: 100%;
	margin: 2em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl04 {
	position: relative;
	border-radius: 2px;
	border: 2px solid #da3c41;
  border-radius: 50px;
	background: #ffffff;
}
.cp_ipselect.cp_sl04::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #da3c41;
	pointer-events: none;
}
.cp_ipselect.cp_sl04 select {
	padding: 8px 38px 8px 8px;
	color: #da3c41;
}

#category-name {
	margin: 0px 0 40px 0;
	padding-top: 20px;
}

#category-tag {
	background-color: #FEBB15;
	padding: 5px 10px;
	border-radius: 5px;
	border: solid 2px;
}

.tag-blue {
	padding: 3px 10px;
	background-color: #4b99ec;
	border-radius: 5px;
	color: white;
	border: solid 2px black;
}

.category-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	padding-top: 20px;
}

.fa-c-edit {
	font-size: 40px;
	color: #da3c41;
	cursor: pointer;
}

.reibun-category-form2, .reibun-category-form3, .display-none {
	display: none;
}

.category-h3-hidden {
	display: none;
}

.reibun-form input[type="submit"].select-submit2 {
	background-color: transparent;
	color: red;
	font-size: 15px;
	font-weight: 100;
	width: auto;
	display: none;
	border: solid 0px;
}

.reibun-form input[type="submit"].select-submit3 {
	margin-top: 0px;
	display: none;
}
