// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*コメント用レイアウト*/
#comment-form  {
  padding: 20px 0;
  textarea {
    width: 100%;
    border: 1px solid #d8dadf;
    padding: 5px;
    color: #57575f;
    font-size: 16px;
    letter-spacing: 2px; /*文字間*/
    border-radius: 10px;
    background-color: white;
    height: 80px;
  }

  input[type="submit"] {
    background-color: #F4E921;
    cursor: pointer;
    width: 120px;
    border-radius: 2px;
    margin-bottom: 0;
    border: 0px solid #d8dadf;
    color: black;
    font-weight: 600;
    display: block;
    margin: 10px 0 0 auto;
  }
}

#comment-posts {
  border: solid 1px black;
  margin-bottom: 50px;
}

.comment-container {
  padding: 15px;
  background-color: white;
  border: solid 1px black;
}

.comment-top {
  display: flex;
  justify-content: space-between;
}

.comment-user-name {
  display: inline-block;
	a {
    color: black;
    font-size: 14px;
    font-weight: bold;
	}

	img {
		width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 2px 6px #c1ced7;
    vertical-align: middle; /*画像を文字(ユーザ名)の高さ中心にもってくる！
    詳しくはhttps://html5experts.jp/takazudo/13592*/
    object-fit: cover; /*トリミング*/
	}
}

.comment-delete input[type="submit"] {
    background-color: #FFFFFF;
    cursor: pointer;
    font-weight: 300;
    border-radius: 2px;
    border: 0px solid #d8dadf;
    color: #57575f;
}

.comment-content {
  padding: 0 15px;
  margin-left: 25px;
}


/*例文投稿・編集用レイアウト*/
.post-form {
  width: 1000px;
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    text-align: center;
    position: relative;
    top: 10px;
    font-size: 14px;
  }
}

.post-form a:hover {
  opacity: 0.7;
}

.post-form a:visited {
  color: blue;
}

.post-form-box {
    background-color: #FEBB15;
    width: 100%;
    padding: 40px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 4px gray;
}

.post-form-box textarea {
    width: 100%;
    border: 1px solid #d8dadf;
    padding: 5px;
    color: #57575f;
    font-size: 16px;
    letter-spacing: 2px; /*文字間*/
    border-radius: 5px;
    margin-bottom: 35px;
    background-color: white;
}

.form-content {
  height: 150px;
}

.form-information {
  height: 80px;
}

#form-box-left {
  width: 500px;
}

#form-box-right {
  width: 400px;
}

.post-form input {
    width: 100%;
    border: 1px solid #d8dadf;
    padding: 5px;
    color: #57575f;
    font-size: 16px;
    letter-spacing: 2px; /*文字間*/
    border-radius: 5px;
    margin-bottom: 35px;
    background-color: white;
}

.post-form input[type="submit"] {
    background-color: #F4E921;
    cursor: pointer;
    font-weight: 300;
    width: 120px;
    border-radius: 2px;
    margin-top: 40px;
    margin-bottom: 0;
    float: right;
    border: 0px solid #d8dadf;
    position: relative;
    color: black;
    font-weight: 600;
}

.post-form input[type="submit"]:hover {
  opacity: 0.8;
}


/*画像のアップロードレイアウト*/
.field-image {
  position: relative;
}

#img-field {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 1px #EDBC6C;
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  transition: 0.3s ease-out;
  z-index: 1;
  img {
    max-width: 400px;
    max-height: 250px;
    display: block;
    margin: 0 auto;
  }
}

#img-field i {
  font-size: 100px;
  display: block;
  text-align: center;
  color: #aaa;
  line-height: 250px;
  transition: 0.3s ease-out;
}

#img-field i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -90px;
  right: 15px;
}

#img-field:hover {
  background-color: #FDDED3;
  transition: 0.3s ease-out;
  opacity: 0.9;
}

#img-field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

.delete-preview {
  font-size: 20px;
  width: 20px;
  text-align: center;
  background-color: #666666;
  border-radius: 50%;
  color: white;
  z-index: 99;
  position: absolute;
  top: 40px !important;
  right: 0;
  cursor: pointer;
}

.delete-preview:hover {
  color: #F7931E;
}

.remove_image {
  display: none;
}
