// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*新規登録、ログイン用*/
/*エラー時のメッセージ*/
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 20px;
  }
}

.field_with_errors {
  /*Railsは、無効な内容の送信によって元のページに戻されると、
  field_with_errors内のCSSを変更できる*/
  .form-control {
    color: red;
    border: 3px solid red;
  }
}
