// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*新規登録、ログイン用*/
/*エラー時のメッセージ*/
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 20px;
  }
}

.field_with_errors {
  /*Railsは、無効な内容の送信によって元のページに戻されると、
  field_with_errors内のCSSを変更できる*/
  .form-control {
    color: red;
    border: 3px solid red;
  }
}

/*プロフィール部分*/
#profile-container {
  background-color: white;
  padding: 20px 0;
  border: 2px solid;
  margin-bottom: 40px;
}

#profile-container-up {
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

#user-name {
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 2px 6px #c1ced7;
    vertical-align: middle; /*画像を文字(ユーザ名)の高さ中心にもってくる！
    詳しくはhttps://html5experts.jp/takazudo/13592*/
    object-fit: cover; /*トリミング*/
  }

  p {
    display: inline-block;
    font-weight: 600;
    margin-left: 10px;
  }

}

#user-info {
  position: relative;
  a {
    position: absolute;
    right: 0;
    display: inline-block;
    background-color: #4B99EC;
    color: white;
    padding: 3px 20px;
    border-radius: 5px;
    font-weight: 600;
    border: 2px solid black;
  }
  p {
    padding-top: 40px;
  }
}

#profile-container-bottom {
  padding: 20px 15px 40px 15px;
}

.self_introduction {
  width: 100%;
  border: 1px solid #d8dadf;
  padding: 5px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px; /*文字間*/
  border-radius: 10px;
  background-color: #E6E6E6;
  height: 80px;
  margin-bottom: 35px;
}
